.ui#container{
  padding-top: 46px;
  padding-left: 5px;
  padding-right: 5px;
}

#debugNotification{
	margin-bottom: -14px;
}

.ui.items:not(.unstackable)>.item>.image,.ui.items:not(.unstackable)>.item>.image>img{
	max-width:100%!important;
	/*width:auto!important;*/
	max-height:250px!important;
}

.ui.sidebar.visible ~ .ui#container {
    width: calc(100% - 260px);
}